# Environment variables
NODE_ENV=development
PORT=3000

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=lexuantruong2k3
DB_NAME=exam_system
# Security configuration
JWT_SECRET=your_jwt_secret_key_here